// CC

.htmlLibre .embed-responsive-c img,
.embed-responsive-c img {
  max-width: unset;
}

// Meganota
.wrap-news {
  display: none !important;
}
.header-content.note-header.header-interior-meganota+.hi {
  height: 0;
  display: none !important;
}