@font-face {
  font-family: "Velino-Text-Bold";
  src: url("https://www.clarin.com/redaccionfiler/clarin/fonts/velino/VelinoText-Bold.woff2") format("woff2"),
    url("https://www.clarin.com/redaccionfiler/clarin/fonts/velino/VelinoText-Bold.woff") format("woff")
}

// @font-face {
//   font-family: "Velino-Text-Book";
//   src: url("https://www.clarin.com/redaccionfiler/clarin/fonts/velino/VelinoText-Book.woff2") format("woff2"),
//     url("https://www.clarin.com/redaccionfiler/clarin/fonts/velino/VelinoText-Book.woff") format("woff")
// }

// @font-face {
//   font-family: "Velino-Text-BookItalic";
//   src: url("https://www.clarin.com/redaccionfiler/clarin/fonts/velino/VelinoText-BookItalic.woff2") format("woff2"),
//     url("https://www.clarin.com/redaccionfiler/clarin/fonts/velino/VelinoText-BookItalic.woff") format("woff")
// }

@font-face {
  font-family: "VelinoSans-Medium";
  src: url("https://www.clarin.com/redaccionfiler/clarin/fonts/velino/VelinoSans-Medium.woff2") format("woff2"),
    url("https://www.clarin.com/redaccionfiler/clarin/fonts/velino/VelinoSans-Medium.woff") format("woff")
}

body .news.mega .notas-content .entry-body .entry-head .bajada h2 {
  font-weight: 400 !important;
  text-align: center;
  padding: 10vh 0 12.5vh 0;
  letter-spacing: -0.015em;
  font-size: 23.5px;
  line-height: 1.35;
  color: #666;
}

.news .entry-head .content-top .entry-author .info p,
.intVideo .entry-head .content-top .entry-author .info p {
  color: #191919;
  font-size: 19px;
}

.news .entry-head .content-top .entry-author figure.picture,
.intVideo .entry-head .content-top .entry-author figure.picture {
  border: 1px solid #DEEBF0;
  background: #DEEBF0;
}


@media (max-width: 719px) {
  .content-top-right {
    padding-top: 10px;
    border-top: 0px solid #c9c9c9;
  }

  .news .entry-head .breadcrumb span,
  .intVideo .entry-head .breadcrumb span {
    font-size: 13px;
    font-family: var(--secondary-font-regular);
  }
}

@media (min-width:720px) {
  body .news.mega .notas-content .entry-body .entry-head .bajada h2 {
    font-size: 25px;
  }
}

@media (min-width:1200px) {
  body .news.mega .notas-content .entry-body .entry-head .bajada h2 {
    padding: 60px 0 15vh 0;
    font-size: 28px;
  }

  body .news.mega .notas-content .entry-body .entry-head .bajada {
    width: 800px;
    transform: translateX(-88px);
  }

  body .news.mega .notas-content .entry-body .entry-head {
    overflow: visible;
  }
}

.news .entry-head .content-top,
.intVideo .entry-head .content-top {
  border-top: 0px solid #c9c9c9;
}

// Cuerpo de Nota

.news .entry-body .body-nota>p {
  font-size: 22px;
  color: #191919;
}

.news .entry-body .body-nota>p>em {
  color: #191919;
}


.news figcaption p {
  font-size: 17.5px;
  line-height: 1.355;
  font-weight: normal;
}

@media (min-width: 1024px) {
  .news figcaption p {
    margin: 9px 0;
  }
}

.news .entry-body .body-nota>p[type=highlighted] {
  font-size: 23.5px;
  line-height: 1.35;
  letter-spacing: -0.015em;
  font-weight: normal;
}

.news .entry-body .body-nota>h2,
.news .entry-body .body-nota>p>strong {
  color: #191919;
}


// Embed
body .news.mega .notas-content .entry-body .body-nota>.sp__Especial {
  margin: 50px 0 40px 0;
}

// Bottom
.entry-tags {
  border-top: 0px solid #c9c9c9;
}

.entry-tags h2 {
  font-weight: 400;
  font-size: 16px;
  color: #191919;
}

.entry-tags div.items li a {
  font-size: 16px;
}

body .news.mega .notas-content .entry-body .comments {
  margin: 30px auto 0 auto;
}

.entry-tags div.items {
  padding: 10px 0 0 0;
}

.entry-tags div.items li {
  padding: 0;
}

.entry-tags div.items li:after {
  margin: 4px 7px 0 3px;
}

section.comments .head-comments .title-comments p {
  display: block;
  padding-top: 7px;
  font-size: 16px !important;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  color: #191919 !important;
}

.viafoura .vf-dropdown-button--icon-right[data-v-4a73a428] .vf-dropdown-button__text {
  font-size: 14px;
}

.subhead-content,
.news-live.glide-live {
  display: none;
}


// FONTS SERIF
.news .entry-head .content-top .entry-author .info p,
.intVideo .entry-head .content-top .entry-author .info p,
.news .entry-body .body-nota>h2,
.news .entry-body .body-nota>p>strong,
.news .entry-body .body-nota>p[type=highlighted] strong {
  font-family: "Velino-Text-Bold", Georgia, 'Times New Roman', Times, serif !important;
  font-weight: normal;
}

body .news.mega .notas-content .entry-body .entry-head .bajada h2,
.news .entry-body .body-nota>p,
.news .entry-body .body-nota>p>a,
.news .entry-body .body-nota>p[type=highlighted] {
  font-family: "Velino-Text-Book", var(--main-font-regular-text), Georgia, 'Times New Roman', Times, serif !important;
  font-weight: normal;
}

.news .entry-body .body-nota>p>em {
  font-family: "Velino-Text-BookItalic", var(--main-font-regular-text-it), Georgia, 'Times New Roman', Times, serif !important;
  font-weight: normal;
}

// FONTS SANS
.entry-tags h2,
section.comments .head-comments .title-comments p {
  font-family: var(--secondary-font-bold) !important;
  font-weight: normal;
}

.news figcaption p {
  font-family: "VelinoSans-Medium", var(--secondary-font-bold) !important;
  font-weight: normal;
}

.entry-tags div.items li a,
.viafoura .vf-dropdown-button--icon-right[data-v-4a73a428] .vf-dropdown-button__text,
.comments .comment-band .text p {
  font-family: var(--secondary-font-regular) !important;
  font-weight: normal;
}